body {
    color: lightgray;
    background-color: #333333;
    padding-top: 166px;
}
@media (min-width: 768px) {
    body {
        padding-top: 70px;
    }
}

.collapse {
    display: block;
}

.h1 {
    font-size: 72px;
    text-align: center;
}
.h2 {
    text-align: center;
}

.no-data {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    display: none;
}
.center-text {
    text-align: center;
}

.detail-blank {
    color: black;
}
.detail-title {
    float: left;
    width: fit-content;
    max-width: 60%;
    white-space: nowrap;
    overflow: hidden;
}
.detail-size {
    color: darkgrey;
    float: left;
    margin: 32px 0 0 20px;
}
.detail-tool {
    float: right;
    margin: 32px 0 0 10px;
}
.detail-item {
    color: #4f4f4f;
    margin-bottom: 10px;
}
.detail-item h4 {
    width: fit-content;
    float: left;
}
.detail-item p {
    margin: 10px 0 0 15px;
    float: left;
}

.table {
    table-layout: fixed;
}
.table-item:hover th {
    background: #222222;
}
.table-item:hover td {
    background: #222222;
}
td {
    overflow: hidden;
}