<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FileHub</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/axios.min.js"></script>

    <style>
        .table a {
            color: lightgray;
        }
        .table a:hover {
            color: #337ab7;
        }
    </style>
</head>
<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">FileHub</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/list">List</a></li>
                    <li><a href="/copy">Share</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="content">
            <table class="table">
                <thead>
                <tr>
                    <th width="10%">#</th>
                    <th>Name</th>
                    <th width="20%">Size</th>
                    <th width="30%">Expire</th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
        <div class="no-data" id="noData">
            <em>No Share Data</em>
        </div>
    </div>

    <script>
        window.onload = function () {
            init();
        };
        
        function init() {
            axios.get("/shares")
                .then(function (response) {
                    let data = response.data;

                    if (data.code === 0) {
                        refreshPage(data);
                    } else {
                        alert(data.msg + " : " + data.detail);
                    }
                })
                .catch(function (error) {
                    alert(error.message);
                });
        }
        
        function refreshPage(data) {
            if (data.list == null) {
                noDataHandler();
                return;
            }

            var shareList = document.getElementById("tableBody");
            var count = 0;
            data.list.forEach(function (item) {
                let tr = document.createElement("tr");
                tr.className = "table-item";

                let num = document.createElement("th");
                num.scope = "row";
                num.innerText = ++count;

                
                let link = document.createElement("a");
                link.href = "/s/" + item.id;
                link.innerText = item.name;
                let name = document.createElement("td");
                name.appendChild(link);

                let size = document.createElement("td");
                size.innerText = item.totalSize;
                
                let expire = document.createElement("td");
                expire.innerText = item.expireTime;
                
                tr.appendChild(num);
                tr.appendChild(name);
                tr.appendChild(size);
                tr.appendChild(expire);

                shareList.appendChild(tr);
            });
        }

        function noDataHandler() {
            document.getElementById("content").style.display = "none";
            document.getElementById("noData").style.display = "block";
        }
    </script>
</body>
</html>