<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FileHub</title>

    <link href="/filehub/css/bootstrap.min.css" rel="stylesheet">
    <link href="/filehub/css/default.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/filehub/favicon.ico">

    <script src="/filehub/js/jquery-2.2.0.min.js"></script>
    <script src="/filehub/js/bootstrap.min.js"></script>
    <script src="/filehub/js/axios.min.js"></script>

    <style>
        .upload-area {
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 5px 15px;
            border-radius: 8px;
            background-color: #ccc;
            min-height: 200px;
            text-align: center;
            overflow: hidden;
            transition: all 0.2s;
        }

        .upload-area div {
            float: left;
            width: 100%;
        }
        .upload-area div:hover {
            background-color: #eee;
        }

        .upload-area h1 {
            color: #aaa;
        }

        .upload-area p {
            color: black;
            font-size: medium;
            margin: 5px 0 5px 10px;
            float: left;
            width: 80%;
        }

        .upload-area button {
            float: right;
            color: #777;
            background-color: #0000;
            margin-right: 10px;
            padding: 5px 5px;
        }
        .upload-area button:hover {
            color: #000;
        }

        .upload-area .tipText {
            margin: auto;
            margin-top: 10px;
            font-size: 36px;
            float: none;
            background: transparent;
            border: none;
        }

        .upload-area .tipText:focus {
            outline: none;
        }

        .modal-footer {
            padding: 8px 15px;
        }
        .modal-footer .btn {
            padding: 0 12px;
        }

        .progress {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/filehub/home">FileHub</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/filehub/list">List</a></li>
                    <li><a href="/filehub/copy">Share</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" autocomplete="off">
            </div>
            <div class="form-group">
                <label for="key">Key</label>
                <input type="text" class="form-control" id="key" placeholder="key" autocomplete="off" disabled="disabled">
            </div>
            <div class="form-group">
                <label for="expire">保留时限</label>
                <input style="width: 20%" type="text" class="form-control" id="expire" placeholder="单位：d" autocomplete="off">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="encrypt" value="false" onclick="keyControl()"> 加密
                </label>
            </div>
            <button type="button" class="btn btn-default" id="submit" onclick="upload()">Upload</button>
            <input type="file" id="fileSelect" style="display: none" multiple>
        </form>

        <div>
            <div id="uploadArea" class="col-sm-12 col-md-12 col-lg-12 upload-area">
                <button id="tipText" class="tipText">拖拽或单击此处以选择文件</button>
            </div>
        </div>

        <div class="modal fade" id="uploadProgressBlank" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="progress">
                            <div id="uploadProgress" class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 0;">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="uploadProgressCancel" type="button" class="btn btn-default" data-dismiss="modal" onclick="cancel()">Cancel</button>
                        <button id="uploadProgressOk" type="button" class="btn btn-primary" onclick="completeUpload()" style="display: none">Ok</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            function keyControl() {
                var isCheck = document.getElementById("encrypt").checked;

                var keyInput = document.getElementById("key");
                if (isCheck) {
                    keyInput.disabled = "";
                } else {
                    keyInput.value = "";
                    keyInput.disabled = "disabled";
                }
            }

            document.getElementById("tipText").addEventListener("click", function(e) {
                document.getElementById("fileSelect").click();
            });

            document.getElementById("fileSelect").addEventListener("change", function(e) {
                var input = document.getElementById("fileSelect");
                addFiles(input.files);
            });

            var uploadArea = document.getElementById("uploadArea");
            var dragStack = 0;

            uploadArea.onselectstart = function(e) {
                return false;
            };

            uploadArea.addEventListener("dragenter", function(e) {
                event.stopPropagation();
                event.preventDefault();

                ++dragStack;
                uploadArea.style.backgroundColor = "#f5f5f5";
            });
            uploadArea.addEventListener("dragover", function(e) {
                event.stopPropagation();
                event.preventDefault();
            });
            uploadArea.addEventListener("drop", function(e) {
                event.stopPropagation();
                event.preventDefault();

                addFiles(e.dataTransfer.files);
                dragStack = 0;
                uploadArea.style.backgroundColor = "#ccc";
            });
            uploadArea.addEventListener("dragleave", function(e) {
                event.stopPropagation();
                event.preventDefault();

                --dragStack;
                if (dragStack <= 0)
                    uploadArea.style.backgroundColor = "#ccc";
            });
        </script>

        <script>
            var selectedFiles = new Map();

            function addFiles(files) {
                if (files.length <= 0)
                    return;

                if (selectedFiles.size === 0) {
                    document.getElementById("tipText").style.display = "none";
                    uploadArea.style.textAlign = "left";
                }

                for (let i = 0; i < files.length; ++i) {
                    let f = files[i];

                    if (!selectedFiles.has(f.name)) {
                        selectedFiles.set(f.name, f);

                        let p = document.createElement("p");
                        p.innerText = f.name;

                        let icon = document.createElement("span");
                        icon.className = "glyphicon glyphicon-remove";
                        let b = document.createElement("button");
                        b.className = "btn";
                        b.setAttribute("onclick", "removeFiles(\"" + f.name + "\", this)");
                        b.appendChild(icon);

                        let d = document.createElement("div");
                        d.appendChild(p);
                        d.appendChild(b);
                        uploadArea.appendChild(d);
                    }
                }

                // uploadArea.style.height = (10 + 32 * files.size) + "px";
            }

            function removeFiles(name, e) {
                var element = e.parentElement;

                if (selectedFiles.has(name)) {
                    selectedFiles.delete(name);
                    element.parentElement.removeChild(element);
                    // uploadArea.style.height = (10 + 32 * selectedFiles.size) + "px";
                }

                if (selectedFiles.size === 0) {
                    document.getElementById("tipText").style.display = "block";
                    uploadArea.style.textAlign = "center";
                }
            }
        </script>

        <script>
            const CancelToken = axios.CancelToken;
            var cancel;

            function upload() {
                var config = {
                    headers:{'Content-Type':'multipart/form-data'},
                    cancelToken: new CancelToken(function executor(c) {
                        cancel = c;
                    }),
                    onUploadProgress: function(e) {
                        let bar = document.getElementById("uploadProgress");

                        if (e.lengthComputable) {
                            let value = ((e.loaded / e.total) * 100).toFixed(1);

                            bar.innerText = value + "%";
                            bar.style.width = value + "%";
                            bar.setAttribute("aria-valuenow", value);
                        } else {
                            bar.innerText = "upload……";
                            bar.style.width = "100%";
                            bar.setAttribute("aria-valuenow", 100);
                        }
                    }
                };

                axios.post("/filehub/upload", getUploadData(), config)
                    .then(function(response) {
                        let data = response.data;
                        let bar = document.getElementById("uploadProgress");

                        if (data.code === 0) {
                            bar.innerText = data.msg;
                            let okButton = document.getElementById("uploadProgressOk");
                            okButton.style.display = "inline-block";
                            let cancelButton = document.getElementById("uploadProgressCancel");
                            cancelButton.style.display = "none";
                        } else {
                            bar.innerText = data.msg + " : " + data.detail;
                        }
                    }).catch(function(error) {
                        if (axios.isCancel(error)) {
                            // console.log("冇事发生");
                            return;
                        }

                        let bar = document.getElementById("uploadProgress");
                        bar.innerText = error.message;
                        bar.style.width = "100%";
                    });

                    $("#uploadProgressBlank").modal({
                        keyboard: false,
                        backdrop: false
                    });
            }

            function getUploadData() {
                var formData = new FormData();
                selectedFiles.forEach(function(val, key) {
                    formData.append("file", val);
                });
                formData.append("name", document.getElementById("name").value);
                formData.append("key", document.getElementById("key").value);
                formData.append("expire",
                    document.getElementById("expire").value === "" ? "0" : document.getElementById("expire").value);

                return formData;
            }

            function completeUpload() {
                window.location.reload();
            }
        </script>
    </div>
</body>
</html>