<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FileHub</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/defalut.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>

<body>
    <script>
        window.onload = function () {
            $.get("/try", function (data) {
                if (data.code === 0)
                    window.location.href = "/home";
                else {
                    var passCode = prompt("PassCode : ");
                    if (passCode != null)
                        login(passCode);
                }
            });
        };

        function login(passCode) {
            $.post("/verify", {"code": passCode},
                function(data){
                    if (data.code === 0)
                        window.location.href = "/home";
                    else
                        alert("Error PassCode")
                }, "JSON");
        }
    </script>
</body>
</html>