<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FileHub</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/axios.min.js"></script>

    <style>
        .list-group {
            min-height: 340px;
        }

        .list-group-item {
            width: 60%;
            transition: width 0.3s;
        }
        .list-group-item:hover {
            color: black;
            width: 100%;
        }
        .list-group-item p {
            white-space: nowrap;
            overflow: hidden;
            margin: 0 10px 0 0;
        }

        .list-group-item:hover .list-title {
            float: left;
            width: 60%;
        }
        .list-time {
            display: none;
        }
        .list-group-item:hover .list-time {
            float: left;
            width: 25%;
            display: block;
        }
        .list-size {
            display: none;
        }
        .list-group-item:hover .list-size {
            display: block;
        }

        .btn-type {
            background-color: #0000;
            padding: 0;
            margin: 6px 12px 6px 0;
        }
        .label {
            position: relative;
            top: -1px;
            padding: 6px 16px;
        }
        .label-img {
            background-color: #f0ad4e;
        }
        .label-mov {
             background-color: #d9534f;
        }
        .label-audio {
            background-color: #b257d9;
        }
        .label-pdf {
             background-color: #e1692a;
        }
        .label-doc {
            background-color: #337ab7;
        }
        .label-zip {
            background-color: #5cb85c;
        }
        .label-other {
            background-color: #d2d2d2;
        }

        .table {
            margin-bottom: 0;
        }
    </style>
</head>

<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/home">FileHub</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/list">List</a></li>
                    <li><a href="/copy">Share</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div id="list" class="col-lg-9 col-md-9 col-sm-9">
            <div class="list-group" id="commitList">
            </div>
            <div class="no-data" id="noData">
                <em>No Commit Data</em>
            </div>
            <nav>
                <ul class="pager">
                    <li id="prePager"><a id="preLink" href="javascript:void(0)">Previous</a></li>
                    <li id="nextPager"><a id="nextLink" href="javascript:void(0)">Next</a></li>
                </ul>
            </nav>
        </div>

        <div id="search" class="col-lg-3 col-md-3 col-sm-3 hidden-xs">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" placeholder="name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="start">Time</label>
                    <input type="date" class="form-control" id="start" autocomplete="off">
                    <label for="end">to</label>
                    <input type="date" class="form-control" id="end" autocomplete="off">
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(1, this)">图片</span></button>
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(2, this)">视频</span></button>
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(3, this)">音频</span></button>
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(4, this)">PDF</span></button>
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(5, this)">文档</span></button>
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(6, this)">压缩文件</span></button>
                    <button type="button" class="btn btn-type">
                        <span class="label label-default" onclick="filterControl(0, this)">其他</span></button>
                </div>
                <button type="button" class="btn btn-default" id="submit" onclick="inFilter()">Search</button>
            </form>
        </div>
    </div>

    <div class="modal fade detail-blank" id="commitDetailBlank" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="modalContent">
                <div class="modal-body">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="detail-title">
                            <h2 id="title"></h2>
                        </div>
                        <div class="detail-size">
                            <p id="size"></p>
                        </div>
                        <div class="detail-tool">
                            <a href="javascript:void(0)" id="delete">Delete</a>
                        </div>
                        <div class="detail-tool">
                            <a href="javascript:void(0)" id="share">Share</a>
                        </div>
                    </div>
                    <div class="detail-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Time</h4>
                        <p id="time"></p>
                    </div>
                    <div class="detail-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>Expire</h4>
                        <p id="expire"></p>
                    </div>
                    <div>
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th width="10%">#</th>
                                    <th>Name</th>
                                    <th width="15%">Size</th>
                                    <th width="25%"><a href="#" id="download">Download All</a></th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="closeBlank" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
            <div class="modal-content" id="modalLoading">
                <div class="modal-body">
                    <h4 class="center-text">Loading...</h4>
                </div>
            </div>
        </div>
    </div>

    <script>
        const filterMap = {
            0: "other",
            1: "img",
            2: "mov",
            3: "audio",
            4: "pdf",
            5: "doc",
            6: "zip"
        };

        var typeFilter = {
            "other" : false,
            "img" : false,
            "mov" : false,
            "audio" : false,
            "pdf" : false,
            "doc" : false,
            "zip" : false
        };

        var page = 0;

        var pre;

        var next;

        var filter = "";

        function filterControl(type, e) {
            var isSelect = typeFilter[filterMap[type]];

            if (isSelect) {
                typeFilter[filterMap[type]] = false;
                e.className = "label label-default";
            } else {
                typeFilter[filterMap[type]] = true;
                e.className = "label label-" + filterMap[type];
            }
        }
    </script>

    <script>
        window.onload = function () {
            init();
            getCommitList("/commits?p=0", 0);
        };

        function init() {
            document.getElementById("preLink").addEventListener("click", function () {
                if (pre === "")
                    return;
                getCommitList(pre, page - 1);
            });

            document.getElementById("nextLink").addEventListener("click", function () {
                if (next === "")
                    return;
                getCommitList(next, page + 1);
            });

            document.getElementById("share").addEventListener("click", function () {
                createShare();
            });

            document.getElementById("delete").addEventListener("click", function () {
                deleteFiles();
            });

            document.getElementById("closeBlank").addEventListener("click", function () {
                clearData();
                refreshBlank();
            });
        }
    </script>

    <script>
        function getCommitList(url, p) {
            clearCommitList();

            axios.get(url)
                .then(function (response) {
                    let data = response.data;

                    if (data.code === 0) {
                        buildCommitList(data);
                        page = p;
                        refreshPager(data.count);
                    } else {
                        alert(data.msg + " : " + data.detail);
                    }
                })
                .catch(function (error) {
                    alert(error.message);
                });
        }

        function buildCommitList(data) {
            if (data.list == null) {
                noData();
                return;
            }
            haveData();

            var commitList = document.getElementById("commitList");
            data.list.forEach(function (item) {
                let a = document.createElement("a");
                a.href = "javascript:void(0)";
                a.className = "list-group-item";

                let pNameTitle = document.createElement("p");
                pNameTitle.innerText = item.name;
                pNameTitle.className = "list-title";

                let pTime = document.createElement("p");
                pTime.innerText = item.uploadTime;
                pTime.className = "list-time";

                let pSize = document.createElement("p");
                pSize.innerText = item.totalSize;
                pSize.className = "list-size";

                a.appendChild(pNameTitle);
                a.appendChild(pTime);
                a.appendChild(pSize);
                commitList.appendChild(a);
                a.addEventListener("click", function () {
                    open(item.sequence, item.encrypt);
                });
            });
        }

        function clearCommitList() {
            document.getElementById("commitList").innerHTML = "";
        }

        function refreshPager(count) {
            // 后端给回来的count不是从0计数
            count -= 1;

            var prePager = document.getElementById("prePager");
            var nextPager = document.getElementById("nextPager");

            pre = "/commits?p=" + (page - 1) + filter;
            next = "/commits?p=" + (page + 1) + filter;
            prePager.className = "";
            nextPager.className = "";

            if (page <= 0) {
                pre = "";
                prePager.className = "disabled";
            }
            if (page >= count) {
                next = "";
                nextPager.className = "disabled";
            }
        }

        function noData() {
            document.getElementById("noData").style.display = "block";
        }

        function haveData() {
            document.getElementById("noData").style.display = "none";
        }
    </script>
    
    <script>
        function inFilter() {
            var name = document.getElementById("name").value;
            var start = document.getElementById("start").value;
            var end = document.getElementById("end").value;
            var type = "";
            for (t in typeFilter) {
                if (typeFilter[t])
                    type = type + "1";
                else
                    type = type + "0";
            }

            filter = "&n=" + name
                    + "&s=" + start
                    + "&e=" + end
                    + "&f=" + type;
            getCommitList("/commits?p=0" + filter, 0);
        }
    </script>

    <script>
        var seq;
        var title;
        var size;
        var time;
        var expire;
        var files;

        function open(seq, encrypt) {
            var key = "";
            if (encrypt) {
                key = prompt("Key : ");
                if (key == null)
                    return;
            }

            var formData = new FormData();
            formData.append("key", key);

            onLoading();

            $("#commitDetailBlank").modal({
                keyboard: false,
                backdrop: false
            });

            axios.post("/files/" + seq, formData, {
                headers:{'Content-Type':'application/x-www-form-urlencoded'}
            }).then(function (response) {
                let data = response.data;

                if (data.code === 0) {
                    bindData(data);
                    refreshBlank();
                    completeLoading();
                } else {
                    alert(data.msg + " : " + data.detail);
                    $("#commitDetailBlank").modal("hide");
                }
            }).catch(function(error) {
                alert(error.message);
                $("#commitDetailBlank").modal("hide");
            });
        }

        function bindData(data) {
            seq = data.sequence;
            title = data.name;
            size = data.totalSize;
            time = data.uploadTime;
            if (data.expire === -1)
                expire = "∞";
            else
                expire = data.expire + "d";
            files = data.files;
        }

        function clearData() {
            seq = null;
            title = null;
            size = null;
            time = null;
            expire = null;
            files = null;
        }
        
        function refreshBlank() {
            clearBlank();

            document.getElementById("title").innerText = title;
            document.getElementById("size").innerText = size;
            document.getElementById("time").innerText = time;
            document.getElementById("expire").innerText = expire;

            document.getElementById("download").href = "/files/download/" + seq;
            if (files) {
                var fileList = document.getElementById("tableBody");
                var count = 0;
                files.forEach(function (item) {
                    let tr = document.createElement("tr");

                    let num = document.createElement("th");
                    num.scope = "row";
                    num.innerText = ++count;

                    let name = document.createElement("td");
                    name.innerText = item.name;

                    let size = document.createElement("td");
                    size.innerText = item.size;

                    let link = document.createElement("a");
                    link.href = "/files/download/" + seq + "/" + encodeURIComponent(item.name);
                    link.innerText = "download";
                    let download = document.createElement("td");
                    download.appendChild(link);

                    tr.appendChild(num);
                    tr.appendChild(name);
                    tr.appendChild(size);
                    tr.appendChild(download);

                    fileList.appendChild(tr);
                });
            }
        }

        function clearBlank() {
            document.getElementById("tableBody").innerHTML = "";
        }

        function onLoading() {
            document.getElementById("modalContent").style.display = "none";
            document.getElementById("modalLoading").style.display = "block";
        }

        function completeLoading() {
            document.getElementById("modalLoading").style.display = "none";
            document.getElementById("modalContent").style.display = "block";
        }

        function createShare() {
            var expire = prompt("有效期(1h-168h) :");

            if (expire >= 1 && expire <= 168) {
                var encrypt = confirm("是否加密");

                var data = {
                    expire: expire,
                    encrypt: encrypt
                };
                axios.post("/files/share/" + seq, data)
                    .then(function (response) {
                    let data = response.data;

                    if (data.code === 0) {
                        if (data.key === "")
                            alert(data.url);
                        else
                            alert("链接 : " + data.url + "    Key : " + data.key);
                    } else {
                        alert(data.msg + " : " + data.detail);
                    }
                }).catch(function(error) {
                    alert(error.message);
                });

                return;
            }
            if (expire != null)
                alert("非法值");
        }

        function deleteFiles() {
            axios.post("/files/delete/" + seq)
                .then(function (response) {
                let data = response.data;

                if (data.code === 0) {
                    alert(data.msg);
                } else {
                    alert(data.msg + " : " + data.detail);
                }
                window.location.reload();
            }).catch(function(error) {
                alert(error.message);
                window.location.reload();
            });
        }
    </script>
</body>
</html>