<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FileHub</title>

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/default.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/axios.min.js"></script>

    <style>
        .detail-item {
            color: lightgray;
        }

        .table a {
            color: lightgray;
        }
        .table a:hover {
            color: #337ab7;
        }
    </style>
</head>
<body>
    <nav id="menu" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">FileHub</a>
            </div>
        </div>
    </nav>

    <div class="container center-text" id="load">
        <h3 id="loadingTip"></h3>
    </div>

    <div class="container content" id="content" style="display: none">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="detail-title">
                <h2 id="title"></h2>
            </div>
            <div class="detail-size">
                <p id="size"></p>
            </div>
        </div>
        <div class="detail-item col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h4>Expire</h4>
            <p id="time"></p>
        </div>
        <div>
            <table class="table">
                <thead>
                <tr>
                    <th width="10%">#</th>
                    <th>Name</th>
                    <th width="15%">Size</th>
                    <th width="25%"><a href="#" id="download">Download All</a></th>
                </tr>
                </thead>
                <tbody id="tableBody">
                </tbody>
            </table>
        </div>
    </div>

    <script>
        window.onload = function () {
            id = getSId();
            init();
        };

        var id;
        var loadEvent;

        function init() {
            loading();

            axios.get("/share/check?id=" + id)
                .then(function (response) {
                    let data = response.data;

                    if (data.code === 0) {
                        let key = "";
                        if (data.encrypt) {
                            key = getKey();
                            if (key == null)
                                return;
                        }
                        requestShare(key);
                    } else {
                        refreshPage(0, data.msg + " : " + data.detail);
                    }
                })
                .catch(function (error) {
                    refreshPage(0, error.message);
                });
        }

        function getSId() {
            var r = window.location.href.split("/");
            return decodeURIComponent(r[r.length-1]);
        }

        function loading() {
            var e = document.getElementById("loadingTip");

            var val = "Loading";
            var dot = ["", ".", "..", "..."];
            var round = 0;

            loadEvent = setInterval(function () {
                e.innerText = val + dot[round % 4];
                ++round;
            }, 300);
        }
    </script>

    <script>
        function getKey() {
            return prompt("Key : ");
        }

        function requestShare(key) {
            var formData = new FormData();
            formData.append("key", key);

            axios.post("/share/" + id, formData, {
                headers:{'Content-Type':'application/x-www-form-urlencoded'}
            }).then(function (response) {
                let data = response.data;

                if (data.code === 0) {
                    bindData(data);
                    refreshPage(1);
                } else {
                    refreshPage(0, data.msg + " : " + data.detail);
                }
            }).catch(function (error) {
                refreshPage(0, error.message);
            });
        }

        function bindData(data) {
            document.getElementById("title").innerText = data.name;
            document.getElementById("size").innerText = data.totalSize;
            document.getElementById("time").innerText = data.expireTime;

            document.getElementById("download").href = "/share/download/" + data.id;

            var fileList = document.getElementById("tableBody");
            var count = 0;
            data.files.forEach(function (item) {
                let tr = document.createElement("tr");
                tr.className = "table-item";

                let num = document.createElement("th");
                num.scope = "row";
                num.innerText = ++count;

                let name = document.createElement("td");
                name.innerText = item.name;

                let size = document.createElement("td");
                size.innerText = item.size;

                let link = document.createElement("a");
                link.href = "/share/download/" + data.id + "/" + encodeURIComponent(item.name);
                link.innerText = "download";
                let download = document.createElement("td");
                download.appendChild(link);

                tr.appendChild(num);
                tr.appendChild(name);
                tr.appendChild(size);
                tr.appendChild(download);

                fileList.appendChild(tr);
            });
        }

        function refreshPage(success, val) {
            clearInterval(loadEvent);

            if (success === 1)
                completeLoading();
            else
                document.getElementById("loadingTip").innerText = val;
        }
    </script>

    <script>
        function completeLoading() {
            document.getElementById("load").style.display = "none";
            document.getElementById("content").style.display = "block";
        }
    </script>
</body>
</html>